<html>
  <head>
  </head>

  <body>
    <form method="POST" action="http://localhost:5000/api/make_sale/">
      <fieldset name="at">
      {% for name, amount, price  in products %}
        {{name}} <input type="number" name="{{name}}" placeholder="Amount of {{name}}"> ${{price}} for per piece<br>
      {% endfor %}
    </fieldset>
      <table>
        <tr>
          <td> First Name </td>
          <td><input name='customer_first_name'></input></td>
        </tr>
        <tr>
          <td> Last Name </td>
          <td><input name='customer_last_name'></input></td>
        </tr>
        <tr>
          <td> Billing Address </td>
          <td><input name='billing_address'></input></td>
        </tr>
        <tr>
          <td> Billing City </td>
          <td><input name='billing_city'></input></td>
        </tr>
        <tr>
          <td> Billing State </td>
          <td><input name='billing_state'></input></td>
        </tr>
        <tr>
          <td> Billing country </td>
          <td><input name='billing_country'></input></td>
        </tr>
        <tr>
          <td> Email </td>
          <td><input name='customer_email'></input></td>
        </tr>
        <tr>
          <td> Card Holder Name </td>
          <td><input name='card_holder_name'></input></td>
        </tr>
        <tr>
          <td> Card Number </td>
          <td> <input name='card_number'></input></td>
        </tr>
        <tr>
          <td> CVV </td>
          <td><input name='cvv'></input></td>
        </tr>
        <tr>
          <td> Expiration Month </td>
          <td><input name='ex_month'></input></td>

          <td> Expiration Year </td>
          <td><input name='ex_year'></input></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Submit"></td>
        </tr>

      </table>

    </form>
  </body>
</html>
